<div class="backdrop">
  <div id="main"></div>
</div>
<script>
  $(function () {
    Nebulr.initialize({ currentUserId: <%= current_user.id %> });
  });
</script>
<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
<script>
  filepicker.setKey("<%= ENV['FILEPICKER_API_KEY'] %>");
</script>
