<h1 class="log-header">LOGIN</h1>

<form action="/session" method="post" class="log-form center-block">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input name="user[username]" type="text" required placeholder="USERNAME" class="form-control center-block">
  <input name="user[password]" type="password" required placeholder="PASSWORD" class="form-control center-block">
  <br>
  <input type="submit" value="SUBMIT" class="btn btn-primary center-block">
</form>

<br>

<form action="/session" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input name="user[username]" type="hidden" value="jlpicard">
  <input name="user[password]" type="hidden" value="password">
  <input type="submit" value="GUEST LOGIN" class="guest-login btn btn-warning center-block"><br>
</form>
