<article class="modal-content">
  <h1>CONFIRM CANCELLATION</h1>
  <p>PERMANENTLY DELETE MISSION</p>
  <button class="modal-close btn btn-default">CLOSE</button>
  <button class="mission-destroy btn btn-danger">CANCEL MISSION</button>
</article>
<div class="modal-screen"></div>
