<article class="modal-content">
  <h1>CONFIRM COMPLETION</h1>
  <p>PERMANENTLY COMPLETE MISSION</p>
  <button class="modal-close btn btn-default">CLOSE</button>
  <button class="mission-complete btn btn-danger">COMPLETE MISSION</button>
</article>
<div class="modal-screen"></div>
