<article class="modal-content">
  <h3 class="center-block">CONFIRM</h3>
  <div class="btns center-block">
    <button class="mission-complete btn btn-success">COMPLETE</button>
    <button class="modal-close btn btn-default">CLOSE</button>
  </div>
</article>
