<article class="modal-content">
  <h1>CONFIRM ENLISTMENT</h1>
  <button class="modal-close btn btn-default">CLOSE</button>
  <button class="user-enlist btn btn-primary">ENLIST</button>
</article>
<div class="modal-screen"></div>
