<article class="modal-content">
  <h3 class="center-block">CONFIRM</h3>
  <div class="btns center-block">
    <button class="user-enlist btn btn-primary">ENLIST</button>
    <button class="modal-close btn btn-default">CLOSE</button>
  </div>
</article>
