<article class="modal-content">
  <div class="help-search row">
    <div class="help-num col-xs-1 col-xs-offset-1"><strong>1</strong></div>
    <div class="help-text col-xs-9 col-xs-offset-1"><strong>SEARCH</strong> FOR MISSIONS OR <strong>EXPLORE</strong></div>
  </div>
  <div class="help-enlist row">
    <div class="help-num col-xs-1 col-xs-offset-1"><strong>2</strong></div>
    <div class="help-text col-xs-9 col-xs-offset-1"><strong>ENLIST</strong> AND <strong>FOLLOW</strong></div>
  </div>
  <div class="help-profile row">
    <div class="help-num col-xs-1 col-xs-offset-1"><strong>3</strong></div>
    <div class="help-text col-xs-9 col-xs-offset-1">TRACK ENLISTED MISSIONS ON YOUR <strong>PROFILE</strong></div>
  </div>
  <div class="help-rate row">
    <div class="help-num col-xs-1 col-xs-offset-1"><strong>4</strong></div>
    <div class="help-text col-xs-9 col-xs-offset-1"><strong>RATE</strong> COMPLETED MISSIONS AND LEAVE <strong>FEEDBACK</strong></div>
  </div>
  <button class="modal-close btn btn-default center-block">CLOSE</button>
</article>
<div class="modal-screen" id="login-modal-screen"></div>
