<article class="modal-content">
  <form class="log-form">
    <input name="username" id="username" type="text" placeholder="USERNAME" class="form-control">
    <input name="password" id="password" type="password" placeholder="PASSWORD" class="form-control">
    <br>
    <input type="submit" value="LOGIN" id="login-btn" class="btn btn-primary center-block">
  </form>
  <button class="guest-login btn btn-info center-block">GUEST LOGIN</button>
  <button class="modal-close btn btn-default center-block">CLOSE</button>
</article>
<div class="modal-screen"></div>
