<h1 class="log-header">SIGN UP</h1>

<form action="/users" method="post" class="log-form center-block">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input name="user[username]" type="text" required placeholder="USERNAME" class="form-control center-block">
  <input name="user[password]" type="password" required placeholder="PASSWORD" class="form-control center-block">
  <br>
  <input type="submit" value="SUBMIT" class="btn btn-primary center-block">
</form>
