<div class="user-index-item thumbnail">
  <a href="#/users/<%= user.id %>">
    <img src="<%= thumbnail %>" alt="<%= user.escape('username') %>">
  </a>
  <div class="caption">
    <strong><%= user.escape('username') %></strong>
  </div>
</div>
