<div class="media">
  <div class="media-left user-avatar">
    <img class="media-object img-rounded" src="<%= user.get('filepicker_url') %>">
  </div>
  <div class="media-body">
    <% if (isCurrentUser) { %>
      <h4>GREETINGS, <%= user.escape('username') %></h4>
    <% } else { %>
      <h4 class="media-heading"><%= user.escape('username') %></h4>
    <% } %>
  </div>
</div>
<div class="enlisted-missions-index">
  <h5>ENLISTED MISSIONS</h5>
</div>
<div class="followed-missions-index">
  <h5>FOLLOWED MISSIONS</h5>
</div>
