<div class="data-missions-feed row">
  <div class="data col-xs-3">

    <% if (isSameUser) { %>
      <h4>GREETINGS: <%= user.escape('username') %></h4>
    <% } else { %>
      <h4><%= user.escape('username') %></h4>
    <% } %>

    <div class="user-avatar">
      <img src="<%= user.get('filepicker_url') %>">
    </div>

  </div>

  <% if (itemSize === 12) { %>
  <div class="enlisted-missions col-xs-5">
  <% } else { %>
  <div class="enlisted-missions col-xs-9">
  <% } %>


    <h4>ENLISTED MISSIONS</h4>
    <div class="enlisted-missions-index"></div>

  </div>

  <% if (itemSize === 12) { %>
  <div class="feed col-xs-4">
  <h4>FEED</h4>
  <div class="updates"></div>
  </div>
  <% } %>

</div>

<div class="comments-comments-header row">
  <div class="comments col-xs-6 col-xs-offset-3">

    <h4>COMMENTS</h4>
    <div class="comments-index">
    </div>

  </div>
</div>
