<div class="slick-carousel">
  <% images.forEach( function (image, index) { %>
    <div>
      <div class="carousel-image-container">
        <img class="center-block" src="<%= image.get('filepicker_url') %>"/>
      </div>
    </div>
  <% }); %>
</div>
