<div class="row">
  <div class="col-lg-6">
    <div class="mission-title-search-input input-group">
      <input type="text" class="form-control" name="title" placeholder="TITLE">
      <span class="input-group-btn">
        <input id="mission-search-index-btn" class="btn btn-default" type="submit" value="SEARCH">
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
