<div class="row">
  <div class="col-xs-6 ss-object-select">
    <select class="ss-object form-control" id="#ss-object" name="ss-object">
      <option value="solar-system">SOLAR SYSTEM</option>
      <option value="sun">SUN</option>
      <option value="mercury">MERCURY</option>
      <option value="venus">VENUS</option>
      <option value="earth">EARTH</option>
      <option value="moon">MOON</option>
      <option value="mars">MARS</option>
      <option value="jupiter">JUPITER</option>
      <option value="saturn">SATURN</option>
      <option value="uranus">URANUS</option>
      <option value="neptune">NEPTUNE</option>
    </select>
  </div>
  <div class="col-xs-6 button-title">
    <div class="mission-title-search-input input-group">
      <input type="text" class="form-control" name="title" placeholder="TITLE">
      <span class="input-group-btn">
        <input id="mission-search-index-btn" class="btn btn-default" type="submit" value="SEARCH">
      </span>
    </div>
  </div>
</div>
