<div class="mission-index-item">

  <div class="image">

    <a href="#missions/<%= mission.id %>">
      <img class="center-block" src="<%= thumbnail %>" alt="<%= mission.escape('title') %>">
    </a>

  </div>

  <div class="text">

    <p><%= mission.escape('title') %></p>

  </div>

</div>
