/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= bootstrap
 *= require jquery-ui
 *= require jquery.rateyo
 *= require slick
 *= require slick-theme
 */
$font-family-base: 'Droid Sans Mono';

@import "bootstrap-sprockets";
@import "bootstrap";

.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar {
  border: none;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255,0,0,0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}

.backdrop,
#main,
html,
#map-canvas,
.mission-new,
.full-size,
.mission-stats-pics {
  height: 100%;
  margin: 0;
  padding: 0;
}

#main {
  max-width: 1500px;
  margin: 0 auto;
}

.mission-location {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

body {
  height: calc(100% - 50px);
  padding: 0;
  margin-top: 50px
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.row {
  width: 100%;
  padding: 0;
  margin: 0;
}

.map {
  height: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid black;
}

.sidebar {
  padding: 0;
  height: 100%;
}

.mission-stats-pics-loc {
  position: relative;
}

.enlisted-users {
  height: 100%;
}

.user-index {
  height: calc(100% - 36px);
}

.user-index ul {
  height: 100%;
}

.mission-location {
  padding: 20px;
}

#filter-submit {
  width: 500px;
}

.mission-title-search-input {
  width: 200px;
}

.mission-index-search, .mission-index {
  height: 100%;
}

.mission-index-search .mission-index-li {
  height: 500px;
}

//Carousel

.mission-carousel {
  height: 100%;
  width: 98%;
}

#mission-carousel {
  height: 100%;
}

.carousel-inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.mission-stats {
  margin-bottom: 15px;
}

.mission-index {
  list-style-type: none;
  overflow-y: scroll;
  margin: 0 10px;
  padding: 0;
}

.mission-index-item .compensation {
  width: 100px;
  background-color: black;
  opacity: 0.8;
  position: absolute;
  bottom: 60%;
}

.mission-index-item .compensation p {
  margin: 0;
  width: 100px;
  text-align: center;
  font-size: 20px;
  color: white;
}

.mission-index-item .title {
  position: absolute;
  bottom: 10%;
  left: 10%;
  max-width: 230px;
}

.mission-index-item .leader-avatar {
  z-index: 2;
}
.mission-index-item {
  height: 100%;
  background-color: #181818;
  border: none;
  transition: outline 0.2s;
}

.mission-index-item .image {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.mission-index-item img {
  height: auto;
  max-width: 100%;
}

.mission-index-li {
  margin: 15px 0;
}

.mission-index .leader-avatar img {
  width: 80px;
  height: 80px;
  border: 2px solid rgb(24, 24, 24);
}

.mission-index .leader-avatar {
  position: absolute;
  bottom: 2%;
  left: 70%;
  width:  80px;
  height: 80px;
}

.mission-index .title {
  background-color: rgb(24, 24, 24);
  opacity: 0.8;
}

.mission-index .title p {
  color: white;
  font-size: 20px;
  margin: 0 10px;
}

.filtered-mission-index > .mission-index {
  position: absolute;
  top: 270px;
  left: 15px;
  height: calc(100% - 300px);
  width: calc(100% - 60px);
}

.filtered-mission-index .mission-index-li {
  height: 360px;
}

.enlisted-missions-index .mission-index-li {
  height: 250px;
}

.enlisted-missions {
  height: 100%;
}

.enlisted-missions-index {
  height: calc(100% - 80px);
}

.enlisted-missions .mission-index-item .image {
  height: 100%;
}

.enlisted-missions .mission-index-item .image img {
  max-width: 100%;
  max-height: 100%;
}

.map .mission-index-item, .map .mission-index-item * {
  transform: none;
}

.map .mission-index-item .leader-avatar {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 10px;
  right: 30px;
}

.map .mission-index-item .leader-avatar img {
  height: 50px;
  width: 50px;
}

.map .mission-index-item .title {
  position: absolute;
  bottom: 20px;
  left: 10px;
  background: black;
  opacity: 0.8;
  width: 58%
}

.map .mission-index-item .compensation {
  position: absolute;
  bottom: 70%;
}

.map .mission-index-item p {
  margin: 0
}

.data-missions-feed {
  height: 600px;
}

.user-show .feed {
  height: 100%;
}

.feed .updates-index {
  height: calc(100% - 80px);
}

.feed .updates-index {
  list-style-type: none;
  overflow-y: scroll;
  margin: 0 10px;
  padding: 0;
}

.updates {
  height: 100%;
}

.user-show .data {
  height: 100%;
}

.user-avatar > img {
  width: 100%;
}



.mission-stats-pics-loc {
  height: 550px;
}

.mission-desc-users {
  margin-top: 20px;
  height: 200px;
}

.user-index-item img {
  height: 100px;
  width: 100px;
}

.enlisted-users-index img {
  height: 50px;
  width: 50px;
}

.enlisted-users-index {
  height: 100%;
}

.user-index ul {
  list-style-type: none;
  overflow-y: scroll;
  height: 100%;
}

.delete-comment {
  position: relative;
  bottom: 5px;
}

.mission-images {
  height: 100%;
}

.mission-img {
  max-height: 500px;
  width: 100%;
}

.comment-index-item:not(:last-child) {
  margin-bottom: 10px;
  border-bottom: 1px solid white;
}

.comment-index-item .media {
  margin: 20px 0;
}

.comment-index-item img {
  width: 50px;
  height: 50px;
}

.comments-index .list {
  overflow-y: scroll;
  max-height: 500px;
  min-height: 200px;
}

.comments-index .list > ul {
  padding-top: 10px;
}

.updates-index > ul {
  padding-top: 10px;
}

.update-index-item {
  padding: 10px 0;
}

.update-index-item:not(:last-child) {
  border-bottom: 1px solid white;
}

.update-index-item img {
  width: 60px;
  max-height: 60px;
}

.mission-show .updates-index {
  max-height: 500px;
  min-height: 200px;
  overflow-y: scroll;
}

.delete-update {
  visibility: hidden;
}

.update-index-item:hover .delete-update {
  visibility: visible;
  position: relative;
  bottom: 7px;
}

.update-new-form {
  margin-bottom: 20px
}

.remove-listing {
  position: absolute;
  right: 10px;
  text-decoration: none;
}

.full-size {
  height: 100%;
  margin: 0;
}

.search-filter {
  margin: 10px 10px;
}

.input {
  padding: 0;
}

.delete-comment {
  visibility: hidden;
}

.comment-index-item:hover .delete-comment {
  visibility: visible;
  position: relative;
  bottom: 55px;
  left: calc(100% - 75px);
}

.delete-comment-div {
  height: 0;
}

.delete-update-div {
  height: 0;
}

.comment-new-form {
  margin-bottom: 20px;
}

#enlist-btn {
  margin-bottom: 10px;
}

#cancel-btn {
  margin-bottom: 10px;
}

#complete-btn {
  margin-bottom: 20px;
}

// MODAL

.modal .center-block {
  margin-bottom: 5px;
}

.modal {
  display: none;
}

.modal-screen {
  display: none;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  z-index: 999;
  background: rgba(0, 0, 0, 0.7);
}

#login-modal-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  z-index: 1000;
  top: 23%;
  left: 50%;
  width: 400px;
  padding: 20px;
  transform: translateX(-50%);
  background-color: #222222;
  border-radius: 5px;
}

// ENLISTMENT MODAL

#modal-enlistment .modal-content {
  width: 230px;
  top: 20px;
  // box-shadow: 0 15px 10px -13px;
  box-shadow: none;
  border: none;
  color: black;
}

#modal-enlistment h3 {
  width: 145px;
}

#modal-enlistment .modal-content .btns {
  width: 153px;
}

// COMPLETION MODAL

#modal-completion .modal-content {
  width: 230px;
  top: 20px;
  box-shadow: none;
  border: none;
  color: black;
}

#modal-completion h3 {
  width: 143px;
}

#modal-completion .modal-content .btns {
  width: 170px;
}

// CANCELLATION MODAL

#modal-cancellation .modal-content {
  width: 230px;
  top: 20px;
  box-shadow: none;
  border: none;
  color: black;
}

#modal-cancellation h3 {
  width: 143px;
}

#modal-cancellation .modal-content .btns {
  width: 153px;
}

// LOGIN MODAL

#login .form-btns {
  width: 153px;
}

.alert {
  padding: 5px;
  margin: 10px 0 0 0;
}

.mission-new .image-index-item img {
  max-width: 100%;
  max-height: 200px;
  border: 1px dotted white;
  margin-bottom: 10px;
}

.user-index-item {
  width: 50px;
  padding: 0;
}

.nav .button-title {
  padding: 0;
}

.slick-slide img {
  max-width: 100%;
}

.carousel-image-container {
  height: 510px;
}

.carousel-image-container img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.search-filter .ui-widget-content, .search-filter .ui-widget-content * {
  background: #222222;
  border-color: black;
}

#cmp-range, #rating-range {
  background: #222222;
  border: black;
  text-align: center;
}

#min-date, #max-date {
  text-align: center;
}

.landing-background {
  width: 100%;
  position: fixed;
  left: 0;
  top: 51px;
  opacity: 0.4;
}

.search-landing .mission-search {
  height: 500px;
}

.search-landing .mission-search-form {
  position: relative;
  margin-top: 10%;
}

.landing-heading {
  margin-top: 200px;
}

.landing-heading h1, .landing-heading2 h1 {
  text-align: center;
}

.landing-heading2 {
  margin-bottom: 50px;
}

.mission-search-form label {
  color: white;
}

.mission-search-form .ss-object-div {
  width: 33%;
  float: left;
}

.mission-search-form #ss-object {
  border-radius: 5px 0 0 5px;
}

.mission-search-form #end-date {
  border-radius: 0 5px 5px 0;
}

.mission-search-form .start-div {
  width: 33%;
  float: left;
}

.mission-search-form .end-div {
  width: 33%;
  float: left;
}

.ssobject-browse {
  margin-bottom: 40px;
}

.ssobject-browse img {
  width: 100%;
  border-radius: 5px;
  border: 2px solid #222222;
}

.ssobject-browse .planet-label {
  position: absolute;
  width: calc(100% - 30px);
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.5s;
}

.planet-label p {
  margin: 0;
  text-align: center;
  font-size: 50px;
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.planet:hover .planet-label {
  opacity: 1;
}

.mission-show,
.mission-index-search,
.mission-new .form,
.mission-new .images,
.user-show {
  padding: 30px
}

.sidebar .filter {
  padding: 30px 0 0 30px;
}

.sidebar label {
  font-size: 18px
}

.mission-new form * {
  border-radius: 5px;
}

.modal #username {
  border-radius: 5px 5px 0 0;
}

.modal #password {
  border-radius: 0 0 5px 5px;
}

.search-filter input {
  border-radius: 5px;
}

#ui-datepicker-div {
  z-index: 5 !important;
}

.filtered-mission-index .mission-index .title {
  width: 58%
}

.update-index-item .media {
  margin: 15px 0;
}

.mission-index-item .dates {
  width: 175px;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 50%;
  left: 75px;
  z-index: 98;
  padding: 5px 15px;
  opacity: 0;
  transition: opacity 0.3s, left 0.3s;
}

.mission-index-item .dates p {
  color: white;
  margin: 0;
}

.mission-index-search .mission-index-item:hover .dates {
  opacity: 1;
  left: 15px;
}

.mission-index-item:hover {
  outline: 1px solid white;
}
