/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.clearfix:after {
  clear: both;
  content: '';
  display: block;
  visibility: hidden;
}

.log-header {
  margin: 100px 0 10px 0;
  text-align: center;
  position: relative;
}

form.log-form {
  width: 13%;
}

.backdrop, #main, html, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: calc(100% - 50px);
  padding: 0;
  margin-top: 50px
}

#mission-carousel {
  width: 50%;
}

.mission-form {
  width: 20%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.row {
  width: 100%;
  padding: 0;
  margin: 0;
}

.mission-leader {
  width: 15%;
}

.user-avatar {

}

.map {
  height: 100%;
  padding: 0;
  margin: 0;
}

.sidebar {
  padding: 0;
  height: 100%;
}

.sidebar .mission-index {
  list-style-type: none;
  overflow-y: scroll;
  height: 100%;
  margin: 0;
  padding: 0;
}

.remove-listing {
  position: absolute;
  right: 10px;
  text-decoration: none;
}

// .links-panel {
//   background-color: white;
//   border: thin solid black;
//   border-radius: 4px;
//   bottom: 15px;
//   left: 15px;
//   padding: 15px;
//   position: fixed;
// }

.full-size {
  height: 100%;
  margin: 0;
}
