<form class="update-form">
  <div class="update-input input-group">
    <input type="text" class="form-control" name="text" value="<%= update.escape('text') %>">
    <span class="input-group-btn">
      <input class="create-update-btn btn btn-default" type="submit" value="INPUT">
    </span>
  </div>
</form>
