<input type="date" name="min_date" id="min-date" value=<%= data.min_date %>>
<input type="date" name="max_date" id="max-date" value=<%= data.max_date %>><br>
<label>COMPENSATION:</label><input type="text" id="cmp-range" readonly>
<div class="center-block" id="compensation-slider"></div><br>
<label>AVERAGE RATING:</label><input type="text" id="rating-range" readonly>
<div class="center-block" id="rating-slider"></div><br>
<input type="submit" id="filter-submit" class="btn btn-info" value="SEARCH">
