<img class="landing-background" src="https://www.filepicker.io/api/file/dirOS6uaRsO81zKP18PO"/>
<div class="landing-heading row">
  <div class="heading-text col-xs-12">
    <h1>YOUR NEXT JOB IS AMONG THE STARS</h1>
  </div>
</div>
<div class="mission-search row">
  <form class="mission-search-form col-xs-10 col-xs-offset-1">
    <div class="row">
      <div class="ss-object-div">
        <label id="destination">DESTINATION</label>
        <select id="ss-object" class="form-control" name="ss-object">
          <option value=""></option>
          <option value="sun">SUN</option>
          <option value="mercury">MERCURY</option>
          <option value="venus">VENUS</option>
          <option value="earth">EARTH</option>
          <option value="moon">MOON</option>
          <option value="mars">MARS</option>
          <option value="jupiter">JUPITER</option>
          <option value="saturn">SATURN</option>
          <option value="uranus">URANUS</option>
          <option value="neptune">NEPTUNE</option>
        </select><br>
      </div>
      <div class="start-div">
        <label id="start">START</label>
        <input type="date" id="start-date" class="form-control" placeholder="START" name="min_date"><br>
      </div>
      <div class="end-div">
        <label id="end">END</label>
        <input type="date" id="end-date" class="form-control" placeholder="END" name="max_date"><br>
      </div>
    </div>
    <div class="row">
      <div class="search-btn col-xs-4 col-xs-offset-4">
        <input class="btn btn-primary form-control" id="search-btn" type="submit" value="EXPLORE">
      </div>
    </div>
  </form>
</div>

<div class="ssobject-browse row">
  <div class="planet col-xs-offset-1 col-xs-5">
    <div id="saturn" class="planet-label">
      <p>SATURN</p>
    </div>
    <img src="https://www.filepicker.io/api/file/W9gWGQlJSFSGvulLOxVk"/>
  </div>
  <div class="planet col-xs-5">
    <div id="moon" class="planet-label">
      <p>MOON</p>
    </div>
    <img src="https://www.filepicker.io/api/file/nP9lbesSdGmEug0NORRw"/>
  </div>
</div>

<div class="ssobject-browse row">
  <div class="planet col-xs-offset-1 col-xs-5">
    <div id="earth" class="planet-label">
      <p>EARTH</p>
    </div>
    <img src="https://www.filepicker.io/api/file/ghjGul4MQFCWGg9TI7ki"/>
  </div>
  <div class="planet col-xs-5">
    <div id="mars" class="planet-label">
      <p>MARS</p>
    </div>
    <img src="https://www.filepicker.io/api/file/RpYw6B2CSK6y234FJGAB"/>
  </div>
</div>

<div class="ssobject-browse row">
  <div class="planet col-xs-offset-1 col-xs-5">
    <div id="jupiter" class="planet-label">
      <p>JUPITER</p>
    </div>
    <img src="https://www.filepicker.io/api/file/OxpKVG8aQCcJIlPMDHue"/>
  </div>
  <div class="planet col-xs-5">
    <div id="uranus" class="planet-label">
      <p>URANUS</p>
    </div>
    <img src="https://www.filepicker.io/api/file/1hclWB9zTFmV3PuAqxfB"/>
  </div>
</div>
