<form class="mission-search col-xs-4 col-xs-offset-4">
  <select class="ss-object form-control" name="ss-object">
    <option value="solar-system">SOLAR SYSTEM</option>
    <option value="sun">SUN</option>
    <option value="mercury">MERCURY</option>
    <option value="venus">VENUS</option>
    <option value="earth">EARTH</option>
    <option value="moon">MOON</option>
    <option value="mars">MARS</option>
    <option value="jupiter">JUPITER</option>
    <option value="saturn">SATURN</option>
    <option value="uranus">URANUS</option>
    <option value="neptune">NEPTUNE</option>
  </select><br>
  <input type="date" class="form-control" placeholder="START" name="min_date"><br>
  <input type="date" class="form-control" placeholder="END" name="max_date"><br>
  <input class="btn btn-primary form-control" id="search-btn" type="submit" value="SEARCH">
</form>
